<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>Buttons</title>
		<meta name="robots" content="index, follow" />
		<meta name="description" content="" />
		<meta name="keyword" content="" />
		<meta name="author" content="Harshad Satra" />

		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


		<link rel="stylesheet" href="assets/css/style.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">



		<!-- Compiled and minified CSS 
    		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    	-->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<meta name="theme-color" content="#5192f2" />
	</head>

	<body>
		<div class="wrapper" id="app">
			<!-- Intro -->
			<section id="intro" class="grid hidden" :class="{'active': step === 'intro'}">
				<span class="close" @click="gotoStep('info')" v-if="button >= 16">
					<img src="assets/img/CButtons/CButton-32.svg">
				</span>
				<div class="top">
					<ul class="anim-list">
						<li>
							<span class="inactive" v-if="button >= 0" @click="showBtn(1)"><img src="assets/img/CButtons/CButton-01.svg"></span>
							<span class="active" v-if="button >= 1"><img src="assets/img/CButtons/CButton-02.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 1" @click="showBtn(2)"><img src="assets/img/CButtons/CButton-03.svg"></span>
							<span class="active" v-if="button >= 2"><img src="assets/img/CButtons/CButton-04.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 2" @click="showBtn(3)"><img src="assets/img/CButtons/CButton-05.svg"></span>
							<span class="active" v-if="button >= 3"><img src="assets/img/CButtons/CButton-06.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 3" @click="showBtn(4)"><img src="assets/img/CButtons/CButton-07.svg"></span>
							<span class="active" v-if="button >= 4"><img src="assets/img/CButtons/CButton-08.svg"></span>
						</li>
						<li>
							<span class="inactive step"  v-if="button >= 4" @click="showBtn(5)"><img src="assets/img/CButtons/CButton-09.svg"></span>
							<span class="active step" v-if="button >= 5" @click="showBtn(6)"><img src="assets/img/CButtons/CButton-10.svg"></span>
							<span class="active" v-if="button >= 6"><img src="assets/img/CButtons/CButton-11.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 6" @click="showBtn(7)"><img src="assets/img/CButtons/CButton-12.svg"></span>
							<span class="active" v-if="button >= 7"><img src="assets/img/CButtons/CButton-13.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 7" @click="showBtn(8)"><img src="assets/img/CButtons/CButton-14.svg"></span>
							<span class="active" v-if="button >= 8"><img src="assets/img/CButtons/CButton-15.svg"></span>
						</li>
					</ul>
					<ul class="anim-list">
						<li>
							<span class="inactive" v-if="button >= 8" @click="showBtn(9)"><img src="assets/img/CButtons/CButton-16.svg"></span>
							<span class="active" v-if="button >= 9"><img src="assets/img/CButtons/CButton-17.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 9" @click="showBtn(10)"><img src="assets/img/CButtons/CButton-18.svg"></span>
							<span class="active" v-if="button >= 10"><img src="assets/img/CButtons/CButton-19.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 10" @click="showBtn(11)"><img src="assets/img/CButtons/CButton-20.svg"></span>
							<span class="active" v-if="button >= 11"><img src="assets/img/CButtons/CButton-21.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 11" @click="showBtn(12)"><img src="assets/img/CButtons/CButton-22.svg"></span>
							<span class="active" v-if="button >= 12"><img src="assets/img/CButtons/CButton-23.svg"></span>
						</li>
					</ul>
					<ul class="anim-list">
						<li>
							<span class="inactive" v-if="button >= 12" @click="showBtn(13)"><img src="assets/img/CButtons/CButton-24.svg"></span>
							<span class="active" v-if="button >= 13"><img src="assets/img/CButtons/CButton-25.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 13" @click="showBtn(14)"><img src="assets/img/CButtons/CButton-26.svg"></span>
							<span class="active" v-if="button >= 14"><img src="assets/img/CButtons/CButton-27.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 14" @click="showBtn(15)"><img src="assets/img/CButtons/CButton-28.svg"></span>
							<span class="active" v-if="button >= 15"><img src="assets/img/CButtons/CButton-29.svg"></span>
						</li>
						<li>
							<span class="inactive" v-if="button >= 15" @click="showBtn(16)"><img src="assets/img/CButtons/CButton-30.svg"></span>
							<span class="active" v-if="button >= 16"><img src="assets/img/CButtons/CButton-31.svg"></span>
						</li>
					</ul>
				</div>

				<div class="bottom">
					<ul class="action-buttons">
						<li v-if="button >= 16"><a href="javascript:;" @click="gotoStep('step_1')" class="button">Start</a></li>
					</ul>
				</div>
			</section>

			<!-- Info -->
			<section id="info" class="grid hidden"  :class="{'active': step === 'info'}">
				<span class="close" @click="gotoStep('intro')">
					<img src="assets/img/CButtons/CButton-33.svg">
				</span>
				<div class="top">
					<p>This website is designed to acknowledge the digital assets and components we use and interact with everyday.</p>
					<p>Click start to create your own button.</p>
				</div>
				<div class="bottom">
					<ul class="action-buttons">
						<li><a href="" class="button" @click="gotoStep('step_2')">Start</a></li>
					</ul>
				</div>
			</section>


			<section id="step_1" class="grid hidden" :class="{'active': step === 'step_1'}">
				<div class="top">
					<p>To start creating a button, please enter your name.</p>
					<input type="name" v-model="gerenatedbtn.name" class="input-text" placeholder="eg. JOHN SNOW">
				</div>
				<div class="bottom">
					<ul class="action-buttons">
						<li><a href="javascript:;" class="button"  @click="gotoStep('step_2')">Continue</a></li>
					</ul>
				</div>
			</section>

			<section class="grid hidden" :class="{'active': step === 'step_2'}">
				<div class="top">
					<p>Select button style.</p>
					<ul class="style-selector">
						<li>
							<span @click='gerenatedbtn.style = 2' :class="{'active': gerenatedbtn.style == 1}">
								<img src="assets/img/CButtons/radio.svg">
								<img src="assets/img/CButtons/btn-1.svg">
							</span>
						</li>
						<li>
							<span @click='gerenatedbtn.style = 2' :class="{'active': gerenatedbtn.style == 2}">
								<img src="assets/img/CButtons/radio.svg">
								<img src="assets/img/CButtons/btn-2.svg">
							</span>
						</li>
						<li>
							<span @click='gerenatedbtn.style = 3' :class="{'active': gerenatedbtn.style == 3}">
								<img src="assets/img/CButtons/radio.svg">
								<img src="assets/img/CButtons/btn-3.svg">
							</span>
						</li>
						<li>
							<span @click='gerenatedbtn.style = 4' :class="{'active': gerenatedbtn.style == 4}">
								<img src="assets/img/CButtons/radio.svg">
								<img src="assets/img/CButtons/btn-4.svg">
							</span>
						</li>
					</ul>
				</div>
				<div class="bottom">
					<ul class="action-buttons">
						<li><a href="javascript:;" class="button"  @click="gotoStep('step_3')">Continue</a></li>
					</ul>
				</div>
			</section>

			<section class="grid hidden" :class="{'active': step === 'step_3'}">
				<div class="top">
					<p>Select button color.</p>
					<ul class="button-colors">
						<li v-for="c in colors"><span :class="{'active': gerenatedbtn.color == c}" @click="gerenatedbtn.color = c" :style="{background: c}"></span></li>
					</ul>
				</div>
				<div class="bottom">
					<ul class="action-buttons">
						<li><a href="javascript:;" class="button"  @click="gotoStep('step_4')">Continue</a></li>
					</ul>
				</div>
			</section>

			<section class="grid hidden" :class="{'active': step === 'step_4'}">
				<div class="top">
					<p>Select color for hover state</p>
					<ul class="button-colors">
						<li v-for="c in colors"><span :class="{'active': gerenatedbtn.hovercolor == c}" @click="gerenatedbtn.hovercolor = c" :style="{background: c}"></span></li>
					</ul>
				</div>
				<div class="bottom">
					<ul class="action-buttons">
						<li><a href="javascript:;" class="button"  @click="gotoStep('step_5')">Continue</a></li>
					</ul>
				</div>
			</section>

			<section class="grid hidden" :class="{'active': step === 'step_5'}">
				<div class="top">
					<p>Select button thickness</p>
					<div class="slidecontainer">
						<span>1</span>
						<input class="slider" type="range" v-model="gerenatedbtn.thickness" min="1"  max="5" class="slider" id="myRange">
						<span>5</span>
					</div>
				</div>
				<div class="bottom">
					<ul class="action-buttons">
						<li><a href="javascript:;" class="button"  @click="gotoStep('step_6')">Continue</a></li>
					</ul>
				</div>
			</section>

			<section class="grid hidden" :class="{'active': step === 'step_6'}">
				<div class="top">
					<p>Enter button text (max. 7 letters)</p>
					<input type="name" v-model="gerenatedbtn.buttonText" class="input-text" placeholder="TAP">
				</div>
				<div class="bottom">
					<ul class="action-buttons">
						<li><a href="javascript:;" class="button"  @click="gotoStep('step_7')">Continue</a></li>
					</ul>
				</div>
			</section>

			<section class="grid hidden" :class="{'active': step === 'step_6'}">
				<div class="top">
					<p>Digital buttons are...</p>
					<input type="name" v-model="gerenatedbtn.intro" class="input-text" placeholder="HERE TO STAY">
				</div>
				<div class="bottom">
					<ul class="action-buttons">
						<li><a href="javascript:;" class="button"  @click="gotoStep('last')">Generate</a></li>
					</ul>
				</div>
			</section>

			<section class="grid hidden" :class="{'active': step === 'last'}">
				<div class="top">
					<div class="generated_btn">
						

					</div>
				</div>
			</section>


		</div>


		<script src="assets/js/vue.js"></script>
		<script src="assets/js/script.js"></script>
	</body>
</html>
